<template name="Home">

  {{> header }}

  <main class="">
    <div class="players container">
      <h2>Players</h2>
      <ul class="player-list flex">
        {{#each players}}
          <li>{{> player}}</li>
          {{ matchWins }}
        {{/each}}
      </ul>
    </div>

    <div class="match-history container">
      <h2>Match History</h2>
      <ul>
        {{#each matches}}
          {{> match}}
        {{/each}}
      </ul>
    </div>

  </main>
</template>

<template name="header">
  <header class="login">
    <h1><a href="/">All The Pong</a></h1>
    {{#if currentUser}}
      <!-- something only for logged in -->
      <a href="/add-game" class="btn btn-add-game">Add Game +</a>
    {{/if}}
    {{> loginButtons}}
  </header>

</template>

<template name="game">
  <li><a href="/games/{{ _id }}">{{ player1 }}</a></li>
</template>

<template name="match">
  <li>Played: {{ started }}<br>
    {{ player1 }} vs. {{ player2 }}<br>
    <a href="/matches/{{ _id }}">Box Score</a><br>
    {{ #if winner }}
      Winner: {{ winner }}
    {{ /if }}
  </li>
</template>

<template name="player">
  <span class="username">
    <span>Username</span>
    <a href="/player/{{ _id }}">{{ username }}</a>
  </span>
  <span class="rating">
    <span>Rating</span>
    {{ profile.rating }}
  </span>
  <span class="game-wins">
    <span class="desktop-only">Games Won</span>
    <span class="mobile-only">GW</span>
    {{ profile.gameWins }}
  </span>
  <span class="match-wins">
    <span class="desktop-only">Matches Won</span>
    <span class="mobile-only">MW</span>
    {{ profile.matchWins }}
  </span>
  <span class="points-for">
    <span class="desktop-only">Points For</span>
    <span class="mobile-only">PF</span>
    {{ pointsFor username }}
  </span>
  <span class="points-against">
    <span class="desktop-only">Points Against</span>
    <span class="mobile-only">PA</span>
    {{ pointsAgainst username }}
  </span>
</template>
