<template name="uniquePlayer">
  {{> header }}

  <main class="container">
    <h1>User: {{ username }}<br />Rating: {{ profile.rating }}</h1>

    <ul>
      <li>Games won/total: {{ profile.gameWins }} / {{ gamesPlayed username }}</li>
      <li>Matches won/total: {{ profile.matchWins }} / {{ matchesPlayed username }}</li>
      <li>Total Points For: {{ pointsFor username }}</li>
      <li>Total Points Against: {{ pointsAgainst username }}</li>
    </ul>

    <div class="profile">
      {{ iAmMe currentUser this._id }}
    </div>


  </main>

  <div class="match-history container">
    <ul>
      {{ #each allMatches username }}
        {{ > match }}
      {{ /each }}
    </ul>
  </div>
</template>


