html {
  font-size: 100%;
  //background: url('http://www.johnbhartley.com/wp-content/uploads/2016/05/old-lady.jpg') center center no-repeat;
  //background-size: cover;
  background: #efefef;
  min-height: 100vh;
}

body {
  @include usual;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 1.25rem auto;
}

.mobile-only {
  @media (min-width: 481px) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: 480px) {
    display: none !important;
  }
}

@media (max-width: 960px) {
  main {
    padding: 0 1rem;
  }
}

.match-history {
  ul {
    background: #fff;
    padding: 0 1rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      border-bottom: 1px solid $light-gray;
      padding: 1rem;
      width: 32%;

      @media (max-width: 480px) {
        width: 100%;
      }

    }
  }
}
