button, .btn, #login-buttons .login-button {
  background: #fff;
  color: $red;
  border: 1px solid $red;
  border-radius: 3px;
  @include usual;
  padding: 10px;
  font-size: .75rem;
  transition: all 300ms ease;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .05rem;

  &:hover {
    background: darken($red, 10);
    color: #fff;
  }
}

.btn-add-game {
  display: inline-block;
  margin: 0.5rem 1rem;
  text-align: center;

  @media (max-width: 480px) {
    float: right;
  }
}

