.new-match {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
  padding: 20px;

  .form-field {
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: 767px) {
      width: 48%;
      margin-right: 4%;
      float: left;

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    select, input {
      width: 100%;
      padding: 10px;
      font-size: .8rem;
    }

    select {
      //font-size:
    }

    input[type="radio"] {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      margin-left: 1rem;

      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }

  .-autocomplete-container {
    top: 63px !important;
  }

  select {
    height: 39px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
  }
}
