.player-list, .games-list {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);

  li, form {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;

    @media (max-width: 480px) {
      flex-wrap: wrap;
      padding: 10px 0;
    }

    a, span {
      display: flex-item;
      flex-grow: 1;

      span {
        display: block;
        clear: both;
        color: #aaa;
        font-size: .3rem;
        text-transform: uppercase;
        letter-spacing: .07rem;
      }
    }

    a, .username {
      flex-grow: 2;
    }

    .username {
      white-space: nowrap;
      text-overflow: ellipsis;
      @media (min-width: 481px) {
        max-width: 20%;
      }

      overflow: hidden;
      padding-right: 1rem;
    }

    @media (max-width: 480px) {
      .username {
        width: 75%;
      }

      .rating {
        width: 25%;
        text-align: right;
      }

      .points-for, .points-against {
        text-align: right;
      }
    }

  }

}
